# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Environment files
.env

# Build output
dist/
build/
out/
public/

# IDE files
.vscode/
.idea/

# Miscellaneous
*.class
*.DS_Store
*.iml
*.log
*.orig
*.swp
*.tgz
*.zip
